*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* mobile navbar */

.mobile_navbar{
    width: 100%;
    height: 50px;
    display: none;
    align-items: center;
    justify-content: center;
    background:whitesmoke;
    position: fixed;
    bottom: 0;

}
.mobile_navbar ul{
    width: 100%;
    display: flex;
    justify-content: space-around;

}
.mobile_navbar ul li{
    list-style: none;
}
.mobile_navbar ul li a button{
border: none;
border-radius: 5px;
cursor: pointer;
width: 75px;
height: 30px;
background: none;
}

@media(max-width:730px){
    .mobile_navbar{
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background:whitesmoke;
        position: fixed;
        bottom: 0;
    
    }
}
@media(max-width:400px){
    .mobile_navbar ul li a button{
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 65px;
        height: 25px;
        background: none;
        }
}

/* mobile navbar end */

.main_container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* header */

header{
    width: 100%;
    height: 55px;
    display: flex;
    align-items:center;
    justify-content: space-around;
    padding-right: 1rem;
}
header .logo{
    width: 8%;
    height: 80px;
    text-decoration: none;
}
header .logo img{
    width: 100%;
    height: 100%;
}
header .search_bar{
    width: 60%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .search_bar .search{
    width: 60%;
    height: 100%;
    border: 1px solid #000;
    border-radius: 20px;
    padding-left: 1rem;
    outline: none;
    display: flex;
    overflow: hidden;
}
header .search_bar .search input{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 20px;
    padding-left: 1rem;
    outline: none;
    background: none;
}
header .search_bar .search button{
    width: 15%;
    height: 100%;
    border: none;
    cursor: pointer;
}
header .profile{
    width: 45px;
    height:40px;
    border: none;
    border-radius: 50%;
    background: none;
    overflow: hidden;
    cursor: pointer;
    display: block;
}
header .profile img{
    width: 100%;
    height: 100%;
}
header .Login{
    width: 65px;
    height: 30px;
    cursor: pointer;
    border-radius: 10px;
    background: none;
    border: none;
    display: none;
}
header .Login button{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background: rgb(242,242,242);
    color: #000;
}
@media(max-width:1000px){
    header .search_bar .search{
        width: 100%;
        height: 100%;
        border: 1px solid #000;
        border-radius: 20px;
        padding-left: 1rem;
        outline: none;
        display: flex;
        overflow: hidden;
    }
}
@media(max-width:850px){
    header .search_bar .search{
        width: 90%;
        height: 100%;
        border: 1px solid #000;
        border-radius: 20px;
        padding-left: 1rem;
        outline: none;
        display: flex;
        overflow: hidden;
    }
    header .logo{
        width: 6%;
        height: 60px;
        text-decoration: none;
    }
}
@media(max-width:500px){
    header .search_bar .search{
        width: 100%;
        height: 100%;
        border: 1px solid #000;
        border-radius: 20px;
        padding-left: 1rem;
        outline: none;
        display: flex;
        overflow: hidden;
    }
}

/* end header */

.mian_content{
    width: 100%;
    display: flex;
    padding-top: 2rem;
}
/* Side Bar */

.side_bar{
width: 20%;
height: 100vh;
padding: 2rem 0.3rem; 
position: sticky;
top: 0;
bottom: 0;
}
.side_bar .icon{
    width: 100%;
    margin:2.5rem 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.side_bar .icon a{
    text-decoration: none;
    color: #000;
}
.side_bar .icon a button{
    width: 120px;
    height: 45px;
    background:none;
    font-weight: 100px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}
.side_bar .icon a button:hover{
    background: rgb(242,242,242);
}
@media(max-width:730px){
    .side_bar{
        width: 20%;
        height: 100vh;
        padding: 2rem 0.3rem; 
        position: sticky;
        top: 0;
        bottom: 0;
        display: none;
        }
}

/* main main */
.main_main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* you_img */

.you_img{
    width: 100%;
    padding: 1rem 0;
    display: flex;
    align-items: start;
    justify-content: start;
    padding-left: 1rem;
}
.you_img img{
    width: 110px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 1rem;
    padding-right: 0.2rem;
}
.you_img .you_img_names{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}
.you_img .you_img_names p{
    margin-bottom: 0.5rem;
}
.you_img .you_img_names button{
    width: 120px;
    height: 35px;
    border: none;
     border-radius: 5px;
     cursor: pointer;
     background: rgb(233, 227, 227);
     font-weight: bold;
}
@media(max-width:650px){
    .you_img img{
        width: 110px;
        height: 100px;
        border-radius: 50%;
        margin-bottom: 1rem;
        padding-right: 0.5rem;
    }
}

/* subscribers */

.subscribers{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 0;
}

/* end subscribers */

/* main */

.main{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
    gap: 0.2rem;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
.main .first_card{
    width: 280px;
    overflow: hidden;
    text-decoration: none;
    color: #000;
    margin: auto; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.main .first_card .first_card_img{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main .first_card .first_card_img img{
    width: 95%;
    height: 100%;
    border-radius: 10px;
    margin-bottom: 0.5rem;
}
.main .first_card .content_descript{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding: 0px 1rem;
}
.main .first_card .content_descript img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.main .first_card .content_descript p{
    padding-left: 1rem;
    color: #000;
    font-weight: bold;
}
.main .first_card .content_likes{
    width: 100%;
    display: flex;
    padding-top: 1rem;
    padding-left: 1rem;
    color: rgb(96,96,96);
    font-weight: bold;
    margin-bottom: 1rem;
}
.main .first_card .content_likes .view{
    padding-left: 3rem;
}

/* main media query */
@media (max-width:1050px){
    .main .first_card{
        width: 300px;
        overflow: hidden;
        text-decoration: none;
        color: #000;
        margin: 0;   
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .main .first_card img{
        width: 80%;
    margin-bottom: 0.5rem;

    }
    .main .first_card .first_card_content{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .main .first_card .content_descript{
        width: 95%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main .first_card .content_likes{
        width: 80%;
        display: flex;
        padding-top: 1rem;
        padding-left: 1rem;
        color: rgb(96,96,96);
        font-weight: bold;
    }
}
@media (max-width:850px){
    .main .first_card{
        width: 250px;
        overflow: hidden;
        text-decoration: none;
        color: #000;
        margin: 0;   
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .main .first_card img{
        width: 90%;
    }
    .main .first_card .content_descript{
        width: 100%;
    }
    .main .first_card .content_likes{
        width: 100%;
        margin-bottom: 1rem;
    }
}
@media (max-width:750px){
    .main .first_card{
        width: 240px;
        overflow: hidden;
        text-decoration: none;
        color: #000;
        margin: 0;   
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .main .first_card img{
        width: 100%;
    }
    
    .main .first_card .content_descript{
        width: 100%;
    }
}
@media (max-width:720px){
    .main .first_card{
        width: 250px;
        overflow: hidden;
        text-decoration: none;
        color: #000;
        margin: auto;   
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .main .first_card img{
        width: 90%;
    }
    
    .main .first_card .content_descript{
        width: 100%;
    }
    .main .first_card .content_likes{
        margin-bottom: 1rem;
        width: 100%;
    }
}
@media (max-width:600px){
    .main .first_card{
        width: 300px;
        overflow: hidden;
        text-decoration: none;
        color: #000;
        margin: auto;   
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .main .first_card img{
        width: 90%;
    }
    
    .main .first_card .content_descript{
        width: 100%;
    }
    .main .first_card .content_likes{
        margin-bottom: 1rem;
        width: 100%;
    }
}
@media (max-width:450px){
    .main .first_card{
        width: 260px;
        overflow: hidden;
        text-decoration: none;
        color: #000;
        display: flex;
        flex-direction: column;
    }
    .main .first_card img{
        width: 100%;
    }
    .main .first_card .content_descript{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        padding: 0px 1rem;
        font-size: 1em;
    }
    .main .first_card .content_likes{
        width: 80%;
        display: flex;
        padding-top: 1rem;
        padding-left: 0rem;
        color: rgb(96,96,96);
        font-weight: bold;
        margin-bottom: 2rem;
    }
    .main .first_card .content_likes .view{
        padding-left: 1rem;
    }

}
@media (max-width:350px){
    .main .first_card{
        width: 230px;
        overflow: hidden;
        text-decoration: none;
        color: #000;
        display: flex;
        flex-direction: column;
    }
    .main .first_card img{
        width: 100%;
    }
    .main .first_card .content_descript{
        width: 100%;
    }
    .main .first_card .content_descript p{
        padding-left: 1rem;
        color: #000;
        font-weight: bold;
        font-size: 1em;
    }

    .main .first_card .content_likes{
        width: 95%;
        display: flex;
        padding-top: 1rem;
        padding-left: 0rem;
        color: rgb(96,96,96);
        font-weight: bold;
    }
    .main .first_card .content_likes .view{
        padding-left: 1rem;
        padding-bottom: 0.5rem;
    }
}